body {
    overflow-x: hidden;

    --title: "coolvetica", sans-serif;
    --text: 'Aleo';
    --orange: #C4700A;
    --green: #007C00;
    --white: #FFF;
    --bgGrey: #F5F5F5;
    --scrollBar: #767676;
}


body::-webkit-scrollbar,
.drinks::-webkit-scrollbar,
.food::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

body::-webkit-scrollbar-track,
.drinks::-webkit-scrollbar-track,
.food::-webkit-scrollbar-track {
    background: none;
}

body::-webkit-scrollbar-thumb,
.drinks::-webkit-scrollbar-thumb,
.food::-webkit-scrollbar-thumb {
    background: var(--scrollBar);
    border-radius: 20px;
    border: none;
}


.cover {
    position: relative;
    top: -8px;
    left: -8px;
    width: 100vw;
    margin: 0;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}

.title {
    font-family: var(--title);
    background: var(--orange);
    display: flex;
    width: 100vw;
    height: auto;
    padding: 3.5rem 2.5rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    flex-shrink: 0;
}

.title span {
    color: var(--white);
    font-family: Coolvetica;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-size: 5rem;
}

.title span+span {
    color: #FFF;
    font-family: var(--title);
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.glassContainer {
    position: relative;
    width: 64px;
    height: 79px;
}

.glass {
    width: 3.75rem;
    height: 4.75rem;
    stroke-width: 8px;
    stroke: #FFF;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
}

#glass1 {
    animation-delay: 0s;
}

#glass2 {
    animation-delay: 1s;
}

#glass3 {
    animation-delay: 2s;
}

.containerDrink,
.containerFood {
    font-family: var(--title);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
    padding: 3rem 2rem;
    width: 100vw;
}

.heading {
    font-size: xx-large;
}

.drinks,
.food {
    display: flex;
    flex-wrap: wrap;
    width: 95vw;
    gap: 1.5rem;
    justify-content: center;

}

.size {
    width: 13rem;
    height: auto;
}

h3 {
    color: black;
}

.cards {
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem 1rem 1rem;
    color: var(--bgGrey);
    border-radius: 0.5rem;
    font-family: var(--text);
    background: var(--bgGrey);
    height: 15rem;
    justify-content: space-between;
}



.openPopup:hover {
    cursor: pointer;
}

.openPopup {
    display: flex;
    padding: 0.5rem 2rem;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    align-self: stretch;
    border-radius: 0.5rem;
    background: var(--green);
    color: var(--white)
}

ul {
    list-style: none;
}


.popup {
    font-family: var(--text);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popupContent {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

.closePopup {
    cursor: pointer;
    float: right;
    font-size: 24px;
    margin-top: -10px;
}

input:checked+label {
    text-decoration: line-through;
    color: var(--scrollBar);
}

ol {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

@media (min-width: 730px) {
    .glass {
        animation: swap 3s steps(1) infinite;
        /* Apply animation only on larger screens */
    }

    @keyframes swap {

        0%,
        33% {
            opacity: 1;
            visibility: visible;
        }

        34%,
        100% {
            opacity: 0;
            visibility: hidden;
        }
    }

}

@media (max-width: 430px) {
    body {
        overflow-y: hidden;
    }

    .title {
        width: max-content;
        padding: 3.5rem 4.5rem;
    }

    .title span {
        font-size: 3rem;
        width: 100vw;
    }

    #subtitle {
        font-size: x-large;
    }

    .containerDrink,
    .containerFood {
        width: max-content;
        padding: 2rem ;

    }

    .drinks,
    .food {
        display: grid;
        grid-template-columns: repeat(2, 15rem);
        gap: 1rem;
        width: inherit;
        justify-content: start;
    }
}

@media (max-width: 340px) {
    .title {
        width: max-content;
        padding: 3.5rem 8.5rem;
    }
}