@font-face {
    font-family: "coolvetica";
    src: url("coolvetica\ rg.ttf");
    font-family: "Aleo";
    src: url("Aleo-Regular.ttf");
}

html {
    scroll-behavior: smooth; 
}

body {

    --title: "coolvetica", sans-serif;
    --text: 'Aleo';
    --orange: #C4700A;
    --green: #007C00;
    --white: #FFF;
    --bgGrey: #F5F5F5;
    --scrollBar: #767676;
}


body::-webkit-scrollbar,
.drinks::-webkit-scrollbar,
.food::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

body::-webkit-scrollbar-track,
.drinks::-webkit-scrollbar-track,
.food::-webkit-scrollbar-track {
    background: none;
}

body::-webkit-scrollbar-thumb,
.drinks::-webkit-scrollbar-thumb,
.food::-webkit-scrollbar-thumb {
    background: var(--scrollBar);
    border-radius: 20px;
    border: none;
}


.cover {
    position: relative;
    top: -8px;
    left: -8px;
    width: 100%;
    margin: 0;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}

.title {
    font-family: var(--title);
    background: var(--orange);
    display: flex;
    width: 100vw;
    height: 35.125rem;
    padding: 3.5rem 2.5rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    flex-shrink: 0;
}

.title span {
    color: var(--white);
    font-family: Coolvetica;
    font-size: 6rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.title span+span {
    color: #FFF;
    font-family: var(--title);
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.glassContainer {
    position: relative;
    width: 64px; 
    height: 79px;
}

.glass {
    width: 3.75rem;
    height: 4.75rem;
    stroke-width: 8px;
    stroke: #FFF;
    position: absolute;
    width: 100%;
    height: 100%;
    animation: swap 2s steps(1) infinite; 
    display: none;
}

#glass1 {
    animation-delay: 0s; 
    display: block; 
}

#glass2 {
    animation-delay: 1s; 
}

@keyframes swap {
    0%, 49% { display: block; } 
    50%, 100% { display: none; }
}


.arrow {
    display: flex;
    justify-content: center;
}

.containerDrink,
.containerFood {
    font-family: var(--title);
    display: flex;
    width: 90.75rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
    padding: 3rem 2rem;
}

.heading {
    font-size: xx-large;
}

.drinks,
.food {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    gap: 1.5rem;
    scrollbar-gutter: stable;

}

.size {
    width: 13rem;
    height: auto;
}

h3 {
    color: black;
}

.cards {
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem 1rem 1rem;
    color: var(--bgGrey);
    border-radius: 0.5rem;
    font-family: var(--text);
    background: var(--bgGrey);
    height: 15rem;
    justify-content: space-between;
}

.carousel-container {
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
    max-width: 100%;
    padding: 0;
}



.openPopup:hover {
    cursor: pointer;
}

.openPopup {
    display: flex;
    padding: 0.5rem 2rem;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    align-self: stretch;
    border-radius: 0.5rem;
    background: var(--green);
    color: var(--white)
}

ul {
    list-style: none;
}


.popup {
    font-family: var(--text);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popupContent {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

.closePopup {
    cursor: pointer;
    float: right;
    font-size: 24px;
    margin-top: -10px;
}

input:checked+label {
    text-decoration: line-through;
    color: var(--scrollBar);
}

ol {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}